<div class="container-fluid primary navbar navbar-expand-lg header">
    <div class="col-8 offset-md-2 d-flex justify-content-between align-items-center">
        <span class="navbar-brand">
            <img src="..//..//assets/logo_cliente.png" alt="">
        </span>
        <div class="navbar-nav text-right lato-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing
        </div>
    </div>
</div>
<div class="container-fluid-body">
    <div class="card border-0 text-white">
        <img src="..//..//assets/img_topo.jpg" class="card-img" alt="...">
        <div class="card-img-overlay align-items-center">
            <small> 01. </small>
            <h1 class="card-title pt-2 lato-bold-font"> <div class="bg-yellow">Maecenas <br></div></h1>
            <h1 class="card-title pt-4 lato-bold-font"> <div class="bg-yellow">at hendrerit.</div></h1>
            <p class="card-text sub-title lato-font">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer. magni dolores eos qui ratione voluptatem sequi.</p>

        </div>
        <div class="card-body center-section">
            <h5 class="card-title">""Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore"</h5>
            <p class="card-text"> "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem
                ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                aliquam quaerat voluptatem." </p>

        </div>
    </div>
    <div class="card-content">
        <div class="card text-content border-0 text-white">
            <div class="row divided-text">
                <div class="card-title col-12">
                    <p class="offset-md-1 text-bold">
                        Loren ipsun dolot sit ammmet
                    </p>
                </div>
                <section class="offset-md-1 col-md-5 col-sm-12">
                    <h5 class="title text-left"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                        ipsum
                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                        incidunt?
                    </h5>
                </section>
                <section class="col-md-5 col-sm-12">
                    <h5>
                        autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil mol
                        consequatur?"</h5>
                    <ul>
                        <li>This is a wider card with supporting text.</li>
                        <li>below as a natural lead-in to additional.</li>
                        <li>vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</li>
                        <li>content. This content is a little bit longer.</li>
                        <li>content. This content is a little bit longer.</li>
                        <li>content. This content is a little bit longer.</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
    <div class="bg-grey row pt-4 g-4 justify-content-center">
        <div class="col-md-3 col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded d-flex justify-content-center align-items-center">
                <h5 class="card-title text-center">Loren ipsum sit ammet</h5>
                <img src="../../assets/icon cone.png" class="card-icon pt-3" alt="...">
                <div class="card-row-footer pt-3">
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded d-flex justify-content-center align-items-center">
                <h5 class="card-title text-center">Loren ipsum sit ammet</h5>
                <img src="../../assets/icon cone.png" class="card-icon pt-3" alt="...">
                <div class="card-row-footer pt-3">
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded d-flex justify-content-center align-items-center">
                <h5 class="card-title text-center">Loren ipsum sit ammet </h5>
                <img src="../../assets/icon cone.png" class="card-icon pt-3" alt="...">
                <div class="card-row-footer pt-3">
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-white text-center">
        Dev - Leticia C. Junqueira.
    </div>
</div>